@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.container_banner img{
    max-width: 100%;
    height: auto;
}
main{
    display: flex;
    padding-left: 12%;
    margin-top: -40px;
}
.information{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding-left: 12%;
}
